# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Django
/media/
staticfiles/
*.log

# Virtual environments
env/
venv/
ENV/
.venv/

# Environment variables
.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
